.carousel-control-prev,
.carousel-control-next {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

/* .carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  background-color:  !important; /* Optional: Light black transparency */
/* } */

